/*--------------------------------------------------- SearchPage */
.custom-pagination .page-item .page-link {
  font-size: 1.2rem;
  padding: 0.5px 10px;
  color: white;
  background-color: #212529;
}

.custom-pagination .page-item {
  margin: 0 2px;
}

.page-item.active .page-link{
  background-color: white;
  color: #212529;
  border-style: solid;
  border-radius: 2px;
  border-color: #212529;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 0;
}

/* ------------------------------------------------Timer */

.page-title {
  font-weight: bold;
  text-decoration: underline;
}

.timer {
  font-size: 4rem;
  font-weight: 500;
}


/* ------------------------------------------------Table */

.table-action {
  width: 112px;
}

.custom-table {
  white-space: nowrap;
}

.table-comment {
  white-space: normal;
  font-size: 0.8rem;
}

.custom-table th {
  font-size: 0.8rem;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
}

.custom-table td {
  font-size: 0.9rem;
}

.custom-table .table-comment {
  width: 280px;
  text-align: left;
  padding-left: 10px;
}

.table-program {
  width: 200px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Media query for screens smaller than 1200px */
@media (max-width: 1200px) {
    .custom-table {
        font-size: 0.9rem;
    }
    
    .custom-table th,
    .custom-table td {
        padding: 8px;
    }

    .table-responsive {
        overflow-x: auto; /* Ensure horizontal scrolling */
    }

        .custom-table .btn {
          padding: 4px 8px;
          font-size: 0.8rem;
      }
      
      .custom-table .editbtn {
          padding: 4px 8px;
      }
  
      .custom-table .deletebtn {
          padding: 4px 8px;
      }
}


/*----------------------------------------------------- FORM --*/

.stopBtn {
  margin-right: 5px;
}