/*--------------------------------------------------- SearchPage */
.custom-pagination .page-item .page-link {
  font-size: 1.2rem;
  padding: 0.5px 10px;
  color: white;
  background-color: #212529;
}

.custom-pagination .page-item {
  margin: 0 2px;
}

.page-item.active .page-link{
  background-color: white;
  color: #212529;
  border-style: solid;
  border-radius: 2px;
  border-color: #212529;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 0;
}

/* ------------------------------------------------Timer */

.page-title {
  font-weight: bold;
  text-decoration: underline;
}

.timer {
  font-size: 4.5rem;
  font-weight: 500;
}

@media (max-width: 960px) {
  .timer-container {
    display: none;
  }
}


/* ------------------------------------------------Table */

.table-action {
  width: 112px;
}



.custom-table {
  white-space: nowrap;
}

.table-comment {
  white-space: normal;
  font-size: 0.8rem;
  min-width: 200px;
}

.custom-table th {
  font-size: 0.8rem;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
}

.custom-table .table-comment {
  width: 280px;
  text-align: left;
  padding-left: 10px;
}

.table-program {
  width: 200px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Media query for screens smaller than 1200px */
@media (max-width: 1200px) {
    .custom-table {
        font-size: 0.8rem;
    }
    .table-comment {
      font-size: 0.7rem;
    }
    
    .custom-table th,
    .custom-table td {
        padding: 8px;
    }

    .table-responsive {
        overflow-x: auto; /* Ensure horizontal scrolling */
    }

        .custom-table .btn {
          padding: 4px 8px;
          font-size: 0.8rem;
      }
      
      .custom-table .editbtn {
          padding: 4px 8px;
      }
  
      .custom-table .deletebtn {
          padding: 4px 8px;
      }
}

/*------------------------------------Responsive display: none*/
@media (max-width: 1300px) {
  .main-id {
    display: none;
  }
  .table-id {
    display: none;
  }
  .main-date {
    display: none;
  }
  .table-date {
    display: none;
  }
}

@media (max-width: 1160px) {
  .main-program {
    display: none;
  }
  .responise-program {
    display: none;
  }
}


/*----------------------------------------------------- FORM --*/

.stopBtn {
  margin-right: 5px;
}

.fixed-width {
  min-width: 550px;
  flex: 0 0 300px;
}


/*-----------------------------------------------------HOME*/

#home-item {
  border-radius: 50px;
}

#home-content {
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

#home-item:hover {
  background-color: rgb(71, 71, 71);
  transition: 0.3s;
  padding: 6px;
}

#home-main {
  border-radius: 50px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}